asttokens              2.4.1
Authlib                1.3.2
bidict                 0.23.1
blinker                1.8.2
cachelib               0.13.0
certifi                2024.8.30
cffi                   1.17.1
charset-normalizer     3.4.0
click                  8.1.7
colorama               0.4.6
comm                   0.2.2
cryptography           43.0.3
debugpy                1.8.5
decorator              5.1.1
executing              2.1.0
Flask                  3.0.3
Flask-Dance            7.1.0
Flask-Login            0.6.3
Flask-Mail             0.10.0
flask-marshmallow      1.2.1
Flask-OAuthlib         0.9.6
Flask-SocketIO         5.4.1
Flask-SQLAlchemy       3.1.1
Flask-WTF              1.2.2
greenlet               3.1.1
h11                    0.14.0
idna                   3.10
ipykernel              6.29.5
ipython                8.27.0
itsdangerous           2.2.0
jedi                   0.19.1
Jinja2                 3.1.4
jupyter_client         8.6.3
jupyter_core           5.7.2
MarkupSafe             2.1.5
marshmallow            3.22.0
marshmallow-sqlalchemy 1.1.0
matplotlib-inline      0.1.7
mysql-connector-python 9.0.0
mysqlclient            2.2.4
nest-asyncio           1.6.0
oauthlib               3.2.2
packaging              24.1
parso                  0.8.4
pip                    24.2
platformdirs           4.3.6
prompt_toolkit         3.0.47
psutil                 6.0.0
pure_eval              0.2.3
pycparser              2.22
pygame                 2.6.0
Pygments               2.18.0
PyMySQL                1.1.1
pynput                 1.7.7
python-dateutil        2.9.0.post0
python-engineio        4.10.1
python-socketio        5.11.4
pywin32                306
pyzmq                  26.2.0
requests               2.32.3
requests-oauthlib      2.0.0
simple-websocket       1.1.0
six                    1.16.0
SQLAlchemy             2.0.35
stack-data             0.6.3
tornado                6.4.1
traitlets              5.14.3
typing_extensions      4.12.2
urllib3                2.2.3
URLObject              2.4.3
wcwidth                0.2.13
Werkzeug               3.0.5
wsproto                1.2.0
WTForms                3.2.1
